<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/vistaAdmin.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VistaAdministrador</title>
    <link rel="shortcut icon" href="/images/Logo.png">
</head>

<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>

    </br>
    </br>
    </br>
    <div class="centrado">
        <form clase="form" action="/products/productList" method="POST" enctype="multipart/form-data" id="form">

            <div>
                <ul class="errors" id="errors">
                </ul>
            </div>
            </br>
            <input type="text" placeholder="Nombre del producto" class="titulo" name="name" id="name"> <br></input>
            </br>
            <br>
            <input type="text" placeholder="Precio" class="titulo" name="price" id="price"> <br>
            <br></input>
            </br>
            <div class="input-contenedor">
                <label class="categoria"><b>Categoria:</b></label>
                <select name="category" class="sinborde-category category">
                    <option value="">Elegí una Categoria</option>
                    <%  
                    let categories = ['Computacion', 'Consolas', 'Componentes', 'Celulares'];
                %>
                    <% for (const oneCategory of categories) { %>
                    <option value="<%= oneCategory %>"
                        <%= locals.oldData && (oneCategory === oldData.category) ? 'selected' : null %>>
                        <%= oneCategory %> </option>
                    <% } %>
                </select>
                <% if (locals.errors && errors.category) { %>
                <div class="text-danger">
                    <%= errors.category.msg %>
                </div>
                <% } %>
            </div>
            <!-- <div class="imagen-agregado" name="imagen-agregado" id="imagen-agregado">
                </br>
                <i class="fas fa-download"></i>
                
            </div> -->
            <div class="titulo-file">
                <br>
                <label class="label-file">
                    <input type="file" name="image" id="file" value="<%= locals.oldData ? oldData.image : null %>">
                    <i class="fas fa-download"></i> Agrega una imagen
                </label> <br>
                <br>
                <% if (locals.errors && errors.image){ %>
                <div class="error-msg">
                    <%= errors.image.msg %>
                </div>
                <% } %>

            </div>
            </br>
            <div class="area">
                <textarea name="description" id="descripcion" cols="30" rows="10" class="text-area"
                    placeholder=" Descripcion " id="description"></textarea>
            </div>
            </br>
            <br>
            <input type="submit" value="Agregar" class="wallpaper-button titulo">
            </br>
            </br>
        </form>
    </div>

    <script src="/js/productsValidation.js"></script>
    </br>
    </br>
    </br>
    </br>

    <%- include('../partials/footerdos.ejs') %>
    <%- include('../partials/footer.ejs') %>

</body>

</html>