<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/vistaAdmin.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BusquedaProductos</title>
    <link rel="shortcut icon" href="/images/Logo.png">
</head>

<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    </br>
    </br>
    </br>
    <div><% products.forEach(product => { %>
        </br>
        <section class="new-product" name="new-product">
            <article class="new-product" name="new-product">
                <img src="/images/productos/<%=product.image%>" width="300px">

                <div class="informacion">
                    <span class="tipo-envio">Envio con normalidad </span>
                    <!-- <span class="precio"> $550 </span> -->
                    <div class="price-without-discount">
                        $ <%= product.price %>
                    </div>
                    <span class="precio-envio"><%=product.name%></span>
                    <div> <a class="link2" href="productDetail/<%=product.id%>">Ver Producto</a></div>
                    <div class="calificacion">
                        <span> <i class="fa-solid fa-star"></i>
                            <span> <i class="fa-solid fa-star"></i>
                                <span> <i class="fa-solid fa-star"></i>
                                    <span> <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </article>
        </section>
        </br>
        <% }) %>
    </div>
    </br>
    </br>
    </br>
    <!-- Footer  -->
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/footerdos.ejs') %>
</body>

</html>