<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/vistaAdmin.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VistaAdministrador</title>
    <link rel="shortcut icon" href="/images/Logo.png">
</head>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
</br>
</br>
</br>
</br>
</br>
</br>
    <div class="contenedorprincipal">
        <br>
        <div class="imagenajustar">
            <img src="/images/productos/<%=product.image%>" alt="profileImage" class="imagenajustar">  
        </div>
        <br>
    <form class="form-new" action="/products/<%= product.id %>?_method=put" method="POST" >
        <div class="edit-form">
            <label for="name" class="letra">Nombre:</label>
            <input type="text" name="name"  value=" <%= product.name %>" class="name-edit">
        </div>
    </br>
</br>
        <div class="edit-form">
            <label for="price" class="letra">Precio:</label>
            <input type="text" name="price"  value=" <%= product.price %>" class="price-edit">
        </div>
    </br>
    </br>
        <div class="edit-form">
            <label for="descripcion" class="letra">Descripcion:</label>
            <input type="text" name="description"  value=" <%= product.description %>" class="description-edit">
        </div>
        <br>
    </div>
</br>
</br>
        <!-- <div class="imagenajustar">
          <img src="/images/productos/<%=product.image%>" alt="profileImage" class="imagenajustar">  
        </div> -->
        
        <!-- <div>
            <input type="file" name="imagen">
        </div> -->
        <br>
        <br>
        <div>
            <button type="submit" class="wallpaper-button">Editar <i class="fa-regular fa-pen-to-square"></i></button>
        </div>

        

    </form>
    
    </br>
    <!-- Footer  -->
    <%- include('../partials/footerdos.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>