<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productDetailUpdated.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Oxygen&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="shortcut icon" href="/images/Logo.png">
</head>

<body>
    <!-- Header  -->
    <%- include('../partials/header.ejs') %>
    <!-- /Header  -->
    <main>

        <section class="webpage">

            <article class="webpage-left-column">
                <img src="/images/productos/<%=product.image%>" width="300px">
            </article>

            <article class="webpage-right-column">
                <div class="buttonsDeleateAndUpdate">
                    <div class="botonesBorraryEditar">
                        <form action="/products/productDetail/<%= product.id %>?_method=DELETE" method="POST"
                            enctype="multipart/form-data">
                            <input type="submit" value="Borrar" class="botonesBorraryEditar color-borrar"></input>
                        </form>
                    </div>
                    <div class="botonesBorraryEditar">
                        <a href="/products/editProducts/<%= product.id %>">
                            <input type="submit" value="Editar" class="botonesBorraryEditar color-editar">
                        </a>
                    </div>
                </div>
                <i class="fa-brands fa-apple product-brand-icon"></i>

                <h3 class="product-name">
                    <%= product.name %>
                </h3>
                <p class="product-description">
                    <%= product.description %>
                </p>
                <div class="price-with-discount">
                    $ <%= product.price %>
                </div>

                <a class="payment-method-link" href="" type="submit">
                    Ver todos los medios de pago
                </a>

                <button class="buy-button" type="submit">Add to cart</button>
            </article>
        </section>
    </main>
    <footer>

    </footer>


    <%- include('../partials/footerdos.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>

</html>