<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return</title>
    <link rel="shortcut icon" href="/images/Logo.png">
    <meta name= "viewport" content= "width=device-wid th, initial-scale=1">
    <script src="https://kit.fontawesome.com/b846d156b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productCartEmpty.css">
</head>
<body>
       <!-- header   -->
    <%- include('../partials/header.ejs') %>
        
   
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn animated">
            <h2 class="mt-5 mb-3 h2 text-center"> Pedido Nro <%= order.id %>
            </h2>
            <div class="card my-5">
                <div class="card-body">
                    <table class="table table-responsive-md mb-0">
                        <thead>
                            <tr>
                                <th style="width: 50px;">
                                    <strong>#</strong>
                                </th>
                                <th class="th-lg">
                                    <strong>Producto</strong>
                                </th>
                                <th class="th-lg ">
                                    <strong>Precio</strong>
                                </th>
                                <th class="text-center">
                                    <strong>Cantidad</strong>
                                </th>
                                <th class="text-center">
                                    <strong>Subtotal</strong>
                                </th>
                               
                            </tr>
                        </thead>
                        <tbody class="cartRows">
                            <% for( let i=0; i < order.orderItems.length; i++ ) { %>
                                <tr>
                                    <th scope="row">
                                        <%= i + 1 %>
                                    </th>
                                    <td>
                                        <%= order.orderItems[i].name %>
                                    </td>
                                    <td>$ <%= order.orderItems[i].price%>
                                    </td>
                                    <td class="text-center">
                                        <%= order.orderItems[i].quantity%>
                                    </td>
                                    <td class="text-center">$
                                        <%= order.orderItems[i].price * order.orderItems[i].quantity%>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <div class="card-footer text-right">
                        <h2>Total: <span class="totalAmount">$ <%= order.total %> </span></h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center">
                    Detalles de la compra
                </div>
                <form class="card-body" id="checkoutCart">
                    <div class="row">
                        <div class=" col-md-6">
                            <p class="mb-0"><strong>Tipo Envio:</strong>
                                <%= order.shippingMethod %>
                            </p>
                        </div>
                        <div class=" col-md-6">
                            <p class="mb-0"><strong>Pago:</strong>
                                <%= order.paymentMethod %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="/profile" class="btn btn-primary btn-block">Volver a mis pedidos</a>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('../partials/footerdos.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
