<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return</title>
    <link rel="shortcut icon" href="/images/Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b846d156b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productList.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <br />
    <br />
    <br />
    <br />
    <!-- header   -->
    <%- include('../partials/header.ejs') %>
    <!-- <header class="header">
        <nav class="menu-desktop">
            <div class="containe-logo-search-bar-profile-cart">
                <div class="logo"><img src="/images/Logo.png" alt="Logo"></div>
                <div class="products container-search-bar">
                    <select name="all-products" id="all-products">
                        <option value="all-products">All products</option>
                        <option value="headphones">Headphones</option>
                        <option value="computers">Computers</option>
                        <option value="phones">Phones</option>
                    </select>
                    <div class="search-bar">
                        <form action="" method="get">
                            <input type="text" placeholder="Search..." class="search"/>
                            <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
                        </form>
                    </div>
                </div>  
                <div class="logos-cart-profile">
                    <ul type="none" class="botones-desktop">
                        <li><a href="login.html" class="profile-nav-desktop" value="profile"><i class="fa-solid fa-circle-user"></i></a></li>
                        <li><a href="cart.html" class="cart-nav-desktop" value="cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul> 
                </div>
            </div>
            
        </nav>
    </header> -->
    <br />
    <br />
    <ul class="category" name="category">
        <a class="category-1" href="" name="category-1"><i class="fa-solid fa-tv category-icon"></i></a>
        <a class="category-2" href="" name="category-2"><i class="fa-solid fa-headset category-icon"></i></a>
        <a class="category-3" href="" name="category-3"><i class="fa-solid fa-gamepad category-icon"></i></a>
        <a class="category-4" href="" name="category-4"><i class="fa-brands fa-playstation category-icon"></i></a>
        <a class="category-5" href="" name="category-5"><i class="fa-brands fa-xbox category-icon"></i></a>
        <a class="category-button" href="" name="category-button">All categories</a>
    </ul>
    </h4>

    <br />
    <br />
    <br />
    <br />

    <div>
        <div><a href="./agregarProducto"> <input type="submit" value="Agregar Producto" class="botonAgregar"> </a></div>
        <div><% product.forEach(productos => { %>
            </br>
            <section class="new-product" name="new-product">
                <article class="new-product" name="new-product">
                    <img src="/images/productos/<%=productos.image%>" width="300px">

                    <div class="informacion">
                        <span class="tipo-envio">Envio con normalidad </span>
                        <!-- <span class="precio"> $550 </span> -->
                        <div class="price-without-discount">
                            $ <%= productos.price %>
                        </div>
                        <span class="precio-envio"><%=productos.name%></span>
                        <div> <a class="link2" href="productDetail/<%=productos.id%>">Ver Producto</a></div>
                        <div class="calificacion">
                            <span> <i class="fa-solid fa-star"></i>
                                <span> <i class="fa-solid fa-star"></i>
                                    <span> <i class="fa-solid fa-star"></i>
                                        <span> <i class="fa-solid fa-star"></i>
                                            <span> 949 </span>
                        </div>
                    </div>
                </article>
            </section>
            </br>
            <% }) %>
        </div>

    </div>
    <!-- Footer  -->

    </section>
    <%- include('../partials/footerdos.ejs') %>
    <%- include('../partials/footer.ejs') %>
    </main>

</body>

</html>