<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return</title>
    <link rel="shortcut icon" href="/images/Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b846d156b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productList.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <br />
    <br />
    <br />
    <br />
    <!-- header   -->
    <%- include('../partials/header.ejs') %>
    <br />
    <br />

    
    <div>

        <div><% users.forEach(user => { %>
            </br>
            <section class="new-product" name="new-product">
                <article class="new-product" name="new-product">
                    <img src="/images/users/<%=user.image%>" width="300px">
                    <div class="informacion">
                        <div>
                            <div class="buttonsDeleateAndUpdate">
                                <div class="botonesBorraryEditar">
                                </div>
                                <div class="botonesBorraryEditar">
                                    <a href="/admin/useredit/<%=user.id %>">
                                        <input type="submit" value="Editar" class="botonesBorraryEditar color-editar">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <span class="descripcion"><%= users.name%></span>
                    </div>
                </article>
            </section>
            </br>
            <% }) %>
        </div>

    </div>
       
    </div>
    <!-- Footer  -->

    </section>
    <%- include('../partials/footerdos.ejs') %>
    <%- include('../partials/footer.ejs') %>
    </main>

    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script> 
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> 
    <script src="/js/reactAdmin.js"></script>
</body>
</html>