


<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/vistaAdmin.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VistaAdministrador</title>
    <link rel="shortcut icon" href="/images/Logo.png">
</head>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
</br>
</br>
</br>
</br>
</br>
</br>
    <div class="contenedorprincipal-edit">
        <br>
        <div class="imagenajustar">
            <img src="/images/users/<%=users.image%>" alt="profileImage" class="imagenajustar">  
        </div>
        <br>
    <form class="form-new" action="/users/<%= users.id %>?_method=put" method="POST" >
        <div class="edit-form">
            <label for="name" class="letra">Nombre:</label>
            <input type="text" name="name"  value=" <%= users.name %>" class="name-edit">
        </div>
    </br>
</br>
        <div class="edit-form">
            <label for="email" class="letra">Email:</label>
            <input type="text" name="price"  value=" <%= users.email %>" class="price-edit">
        </div>
    </br>
    </br>
    <select name="category" class="sinborde-category " required>
        <option value="">Elegí una Categoria</option>
        <%  
            let categories = ['Comprador', 'Vendedor'];
        %>
        <% for (const oneCategory of categories) { %>
        <option value="<%= oneCategory %>"
            <%= locals.oldData && (oneCategory === oldData.category) ? 'selected' : null %>> <%= oneCategory %>
        </option>
        <% } %>
    </select>
        <br>
    </div>
</br>
</br>
        
        <br>
        <br>
        <div>
            <button type="submit" class="wallpaper-button">Editar <i class="fa-regular fa-pen-to-square"></i></button>
        </div>
        <br>
        <form action="/admin/useredit/<%=users.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
            <input type="submit" value="Borrar Usuario" class="wallpaper-button "></input>
        </form>
        

    </form>
    
    </br>
    <!-- Footer  -->
    <%- include('../partials/footerdos.ejs') %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>