<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return</title>
    <link rel="shortcut icon" href="/images/Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b846d156b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productList.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <br />
    <br />
    <br />
    <br />
    <!-- header   -->
    <%- include('../partials/header.ejs') %>
    <br />
    <br />


    <div>

        
            <main>
                <a href="/admin" class="admin-btn">Ver Usuarios</a>
                <h1>Productos:</h1>
                <section class="new-product">
                    <% product.forEach(product => { %>
                        <div class="card card-bosstrap">
                            <div class="card-body">
                                <h5 class="card-title title-bosstrap"><%= product.name.substring(0,30) %></h5>
                              <div>
                                <img alt="" class="card-img-top img-bosstrap" src="/images/productos/<%= product.image %>" />
                              </div>
                              <div>
                                <p><%= product.description.substring(0,20) %>....</p>
                              </div>
                            <a class="ver-detalle" href="/products/productDetail/<%= product.id %>">Editar</a>
                              <hr>
                            </div>
                        </div>
                        <% }) %>
                
                    </section>
                </main>
            </br>

    </div>

    </div>
    <!-- Footer  -->

    </section>
    <%- include('../partials/footerdos.ejs') %>
    <%- include('../partials/footer.ejs') %>
    </main>

</body>

</html>