<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>UsuarioRegistrado</title>
    <link rel="shortcut icon" href="/images/Logo.png">
    
        <%- include('../partials/header.ejs') %>

</head>
<body>
    
    
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <div class="contenedorPerfil">
    
    <h2>Bienvenido <%= user.name %></h2>
    <img src="/images/users/<%= user.image %>" >

    <a class="wallpaper-button" href="./logout">Salir de mi cuenta.</a>  

    </div>
    </br>
    </br>
    </br>
    </br>

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <!-- Footer  -->
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/footerdos.ejs') %>
</body>

</html>